[submodule "themes/docdock2"]
	path = themes/docdock2
	url = https://github.com/vjeantet/hugo-theme-docdock.git
[submodule "themes/docdock"]
	path = themes/docdock
	url = https://github.com/vjeantet/hugo-theme-docdock.git
[submodule "themes/hugo-theme-learn"]
	path = themes/hugo-theme-learn
	url = https://github.com/matcornic/hugo-theme-learn
